*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8fafc;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#0f172a;
}

.navbar h2{
    color:white;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 8%;
    gap:40px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:18px;
    color:#555;
    margin-bottom:25px;
}

button{
    padding:14px 30px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.hero-image{
    flex:1;
}

.hero-image img{
    width:100%;
}

.features{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    padding:70px 8%;
}

.card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:12px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
    text-align:center;
}

.features{
    grid-template-columns:1fr;
}

.navbar{
    flex-direction:column;
    gap:15px;
}

.navbar ul{
    flex-direction:column;
    text-align:center;
}
}
